.App{
  background-color: rgb(206, 38, 108);
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

.Anniversaire {
  background-color: white;
  padding: 15px;
  height: 85vh;
  width: 35%;
  margin: auto;
  justify-content: center;
  border-radius: 5px;
  border: 1px outset rgba(20, 20, 20, 0.5);
  box-shadow: 1px 1px 5px rgb(14, 13, 13);
}
h1{
  font-size: 22px;
  text-align: left;
}

button{
  background-color: rgb(206, 38, 108);
  color:white;
  border: none;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  padding : 10px 15px 10px 15px
}

.Liste{
display: flex;
margin-bottom: 25px;
}
.informations{
  flex:4;
  margin-left: 5px;
}

.prenom{
  font-weight: bold;
}

.date{
  color: gray;
}

